<form action='/sessions' method='post'>
  <label for='email'>E-Mail: </label>
  <input type='text' name='email'><br>
  <label for='password'>Password: </label>
  <input type='password' name='password'><br>
  <input type='submit' value='Sign-In'>
</form>