<form id='bark' action='/posts' method='post'>
  <label for='post[title]'>Title: </label>
  <input type='text' name='post[title]'><br>
  <label for='post[location]'>Location: </label>
  <input type='text' name='post[location]'><br>
  <label for='post[date_of_visit]'>Date: </label>
  <input type='date' name='post[date_of_visit]'><br>
  <label for='post[time_of_visit]'>Time: </label>
  <input type='time' name='post[time_of_visit]'><br>
  <input id='new-post' type='submit' value='Bark!'>
</form>

<textarea name='post[body]' form='bark'>Enter your bark here...</textarea>