<h1>Welcome to BarK Along!</h1>

<% if session[:user_id] %>
  <h3>Welcome back, <%=User.find(session[:user_id]).f_name%>! </h3>
  <a href="/sessions/logout">Sign-Out</a>
<% else %>
  <a href="/users/new">Register New User</a><br>
  <a href="/sessions/new">Returning User Sign-In</a><br>
<% end %>
