<h1>Welcome to BarK Along!</h1>

<% if current_user %>
<% @user = User.find(session[:user_id]) %>
  <h3>Welcome back, <%=@user.f_name%>! </h3>
  <form action='/sessions/logout' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign Out'>
  </form>
<% else %>
  <a href="/users/new">Register New User</a><br>
  <a href="/sessions/new">Returning User Sign-In</a><br>
<% end %>
