<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<!--   <header>
<% if current_user %>
<% @user = User.find(session[:user_id]) %>
  <h3>Welcome back, <%=@user.f_name%>! </h3>
  <a href="/posts/new">~Bark a new post~</a>
  <form action='/sessions/logout' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Sign Out'>
  </form>
<% else %>
  <a href="/users/new">Register New User</a><br>
  <a href="/sessions/new">Returning User Sign-In</a><br>
<% end %>
  </header> -->
  <%= yield %>
</body>
</html>
